@model Module7_InternshipShortlisting.Models.Candidate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Designation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            Years of Experience
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsofExperience)
        </dd>

        <dt>
            City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Degree
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            Department of Interest
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentofInterest)
        </dd>

        <dt>
            Institute
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institute)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Shortlist")
</p>
